---
import Layout from "../layouts/Layout.astro";
const pageTitle = "404 - Not found"
---

<Layout pageTitle={pageTitle}>
    <div class="container404">
        <h3>Esta página no existe...</h3>
        <img src="oops-yikes.gif" alt="">
    </div>
</Layout>