---
import Layout from "../layouts/Layout.astro";
const pageTitle = "404 - Not found"
---
<!--Página para mostrar el error 404: en caso de que no encuentre una página. -->
<Layout pageTitle={pageTitle}>
    <div class="container404 flex-col-center">
        <h3>Esta página no existe...</h3>
        <img src="404.gif" alt="">
    </div>
</Layout>