---
export const prerender = false
import Layout from "../layouts/Layout.astro";
import NowPlayingIndex from "../components/NowPlayingIndex.astro";
import NewsIndex from "../components/NewsIndex.astro";
import Popular from "../components/Popular.astro";

const pageTitle = "Goodfilming";

---

<Layout pageTitle={pageTitle}>
    <div class="introContainer">
        <p class="intro">En esta página podrás conocer las últimas<a href="/newsPage"> noticias </a>sobre cine y conocer los <a href="/nowPlayingPage">estrenos</a>.</p>        
    </div>
    <NewsIndex/>
    <NowPlayingIndex/>
    <Popular/>
</Layout>
