---
import Title from "./Title.astro";
import Navigation from "../components/Navigation.astro";

---

<!--En este componente se agrupan los componentes Title y Navigation -->
<header>
    <div class="headerContainer">
        <Title/>
        <Navigation/>
    </div>
</header>

