---
import Title from "./Title.astro";
import Navigation from "../components/Navigation.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
import User from "../components/User.astro";

---

<div>
    <Title/>
    <Navigation/>
</div>