---
const options = {
  method: 'GET',
  headers: {
    accept: 'application/json',
    Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkZTZkNGFlNWEyOTUxNDZjYzZlMmQwNWM2MzhkN2I3YyIsIm5iZiI6MTc0MjIwNDcwMy4zMzQsInN1YiI6IjY3ZDdlZjFmZDgwMjMwOTcwM2YxODJhNCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.j_5W4yQdwSXPgEmaqQntuDVt9-ysfR7b_OTvameod_A'
  }
};

const res = await fetch('https://api.themoviedb.org/3/movie/now_playing?language=es-ES&page=1', options);
const data = await res.json();
const peliculas = data.results;


---

<article class="estrenosContainer">
    {
        peliculas.map((peli) => 
            <div class="filmContainer">
                <div class="imgYBtn">
                    <img src={`https://image.tmdb.org/t/p/w200${peli.poster_path}`} alt="{peli.title}">
                    <div class="btn">
                        <button>VER MÁS</button>
                    </div>
                </div>
                <p>{peli.title}</p>
            </div>
    )}
</article>
