---
const BACKEND_HOST = import.meta.env.PUBLIC_BACKEND_HOST;
---

<h1 class="headingSections">Iniciar sesión:</h1>
<article class="flex-col-center">
    <div class="formContainer flex-col-center">
        <form action="" class="form flex-col-center" id="logInForm">
            <div>
                <label for="username">User:</label>
                <input type="text" name="username" id="username" class="username" placeholder="Introduce tu email">
            </div>
            <div>
                <label for="Contraseña">Contraseña:</label>
                <input type="password" name="password" id="password" class="password" placeholder="Introduce tu contraseña">
            </div>
            <a href="/">¿Has olvidado la contraseña?</a>
            <input type="submit" value="Iniciar sesión">
            <p id="errorMessage" class="error"></p>
        </form>
        <p>¿No tienes cuenta todavía? <a href="/registerPage">Regístrate</a></p>
    </div>
</article>


<script is:inline type="module" define:vars={{ BACKEND_HOST }}>
    const formulario = document.getElementById("logInForm");
    const errorMessage = document.getElementById("errorMessage");
    formulario.addEventListener('submit', async(e)=>{
        //Evita que suceda cualquier evento por defecto
        e.preventDefault();
        const formData = new FormData(formulario);
        //Cojo los valores y los convierto en un objeto
        const data = Object.fromEntries(formData.entries());
        try{
            //Conexión con BBDD con un método Post
            const res = await fetch(`${BACKEND_HOST}/user/signin`, {
                method : "POST",
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(data),
                credentials: 'include'
            });
            const result = await res.json();
            //Si la respuesta en ok, se establece el token y redirige al usuario a misPeliculas
            if(res.ok){
                localStorage.setItem('token', result.token);
                window.location = '/misPeliculas';
            }else{
                errorMessage.textContent = result.message || "Error al iniciar sesión";
            }
        }catch(error){  
            errorMessage.textContent = "Error de conexión con el servidor";
        }
    })
</script>