---
import ThemeIcon from "./ThemeIcon.astro";
import User from "./User.astro";
import SearchItem from "./SearchItem.astro";
---
<nav class="navbar">
    <div class="navbar-wrapper">
        <div class="nav-links">
            <a href="/newsPage">Noticias</a>
            <a href="/nowPlayingPage">Estrenos</a>
            <a href="/misPeliculas">Mis películas</a>
        </div>
        <div>
            <SearchItem/>
        </div>
        <div>
            <div class="nav-controls">
                <ThemeIcon/>
                <User/>
            </div>
        </div>

    </div>
</nav>