---
import ThemeIcon from "./ThemeIcon.astro";
import User from "./User.astro";
---
<nav class="navbar">
    <div class="nav-links">
        <a href="/">Noticias</a>
        <a href="/">Estrenos</a>
        <a href="/">Mis películas</a>
    </div>
    <div>
        <ThemeIcon/>
        <User/>
    </div>
</nav>

