---
import Film from "./Film.astro";

import { getNowPlaying } from "../lib/api/movies";
const films = await getNowPlaying();
---
<!--Carrousel creado para mostrarlo en el index -->
<div class="carrouselContainer">
    <a href="/nowPlayingPage" class="headings">Estrenos:</a>
    <div class="carrousel">
        <div class="carrousel-track">
            <!--Map-> Mostrar las películas de estreno. -->
            {films.map((film: {poster_path : any; id: any; title: unknown}) =>(
                <Film film={film} class="carrousel-item flex-col-center"/>
            ))}
        </div>
        <button class="carrousel-button prev">&#10094;</button>
        <button class="carrousel-button next">&#10095;</button>
    </div>
    

    

</div>


<script is:inline>
    let currentSlide=0;
    const track = document.querySelector(".carrousel-track");
    const slides = document.querySelectorAll(".carrousel-item");
    const itemPerSlide = 4;

    function updateCarrousel(index){
        currentSlide = index;
        const offset = -(index * (100/itemPerSlide));
        track.style.transform = `translateX(${offset}%)`;
    }

     //El número de items que se van a ver en la pantalla
    document.querySelector(".prev")?.addEventListener("click", ()=>{
        const currentIndex = Math.max(currentSlide - itemPerSlide,0)
        updateCarrousel(currentIndex);
    });

    document.querySelector(".next")?.addEventListener("click", ()=>{
        const maxIndex = slides.length - itemPerSlide;
        const newIndex = Math.min(currentSlide + itemPerSlide, maxIndex);
        updateCarrousel(newIndex);
    });
</script>