---
import Film from "./Film.astro"

import { getPopular } from "../lib/api/movies";
const films = await getPopular();
---


<article>
    <h1 class="headings">Películas populares:</h1>
    <div class="popularContainer">
        <div class="filmPopularContainer">
            {films.slice(0,10).map((film: {poster_path:any; id: any; title: unknown;}, index:number)=>
                <div class="numPopularContainer">
                    <p class="numPopular">{index + 1}.</p>
                </div>
                <Film film={film} class="film-item"/>
            )}
        </div>
    </div>
</article>

