---

---

<h1 class="headingSections">Registrarse:</h1>
<article class="formContainer flex-col-center">
    <form action="" class="form flex-col-center">
        <div>
            <label for="nombre">Nombre: </label>
            <input type="text" name="nombre" placeholder="Introduce tu nombre" required>
        </div>
        <div>
            <label for="userName">User:</label>
            <input type="text" name="userName" placeholder="Introduce tu user" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" name="userName" placeholder="Introduce tu email" required>
        </div>
        <div>
            <label for="dateBorn">Fecha de nacimiento</label>
            <input type="date" name="dateBorn" id="dateBorn" class="dateBorn">
        </div>
        <label for="politica">He podido leer y entiendo la <a target="_blank">Política de Privacidad y Cookies</a></label>
        <input type="submit" value="Registrarse">
    </form>
</article>

