---

---

<h1 class="headingSections">Registrarse:</h1>
<article class="formContainer flex-col-center">
    <form action="" class="form flex-col-center">
        <div>
            <label for="nombre">Nombre: </label>
            <input type="text" name="nombre" required>
        </div>
        <div>
            <label for="apellido1">Apellido 1:</label>
            <input type="text" name="apellido1" required>
            <label for="apellido2">Apellido 2:</label>
            <input type="text" name="apellido2">
        </div>
        <div>
            <label for="userName">Introduce tu user</label>
            <input type="text" name="userName" required>
        </div>
        <div>
            <label for="fechaNacimiento">Fecha de nacimiento</label>
            <input type="date" name="fechaNacimiento">
        </div>
        <label for="politica">He podido leer y entiendo la <u>Política de Privacidad y Cookies</u></label>
        <input type="submit" value="Registrarse">
    </form>
</article>