---
const BACKEND_HOST = import.meta.env.PUBLIC_BACKEND_HOST;
---

<h1 class="headingSections">Registrarse:</h1>
<article class="flex-col-center">
    <div class="formContainer flex-col-center">
        <form action="" class="form flex-col-center" id="registerForm">
            <div>
                <label for="nombre">Nombre: </label>
                <input type="text" name="nombre" placeholder="Introduce tu nombre" required>
            </div>
            <div>
                <label for="username">User:</label>
                <input type="text" name="username" placeholder="Introduce tu user" required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" name="email" placeholder="Introduce tu email" required>
            </div>
            <div>
                <label for="dateBorn">Fecha de nacimiento</label>
                <input type="date" name="fecha_nac" id="fecha_nac" class="fecha_nac">
            </div>
            <div>
                <label for="password">Contraseña:</label>
                <input type="password" name="password" id="password" class="password" required>
            </div>
            <label for="politica">He podido leer y entiendo la <a target="_blank">Política de Privacidad y Cookies</a></label>
            <input type="submit" value="Registrarse">
            <p id="errorMessage" class="error"></p>
        </form>
    </div>

</article>


<script is:inline type="module" define:vars={{ BACKEND_HOST }}>
    const HOST = import.meta.env.HOST;
    const formulario = document.getElementById("registerForm");
    formulario.addEventListener('submit', async(e)=>{
        e.preventDefault();
        //Se cogen todos los datos del formulario 
        const formData = new FormData(formulario);
        const data = Object.fromEntries(formData.entries());
        try{
            //Conexión con la base de datos con método post
            const res = await fetch(`${BACKEND_HOST}/user/signup`, {
                method : "POST",
                headers : {
                    'content-type' : 'application/json'
                },
                body: JSON.stringify(data)
            })
            const result = await res.json();
            
            //En caso de que la respuesta sea adecuada, le redirige al home
            if(res.ok){
                localStorage.setItem('token', result.token);
                window.location = '/index.astro';
            }
            else{
                errorMessage.textContent = result.message || "Error al crear usuario";
            }
        }catch(error){
            errorMessage.textContent = result.message || "Error de conexión con el servidor o red";
        }
    });
</script>
