---

---

<!--Componente para crear la barra de búsqueda -->
<form action="/results" method="GET" target="_self">
    <input name="query" type="text" placeholder="Buscar..." />
    <input name="test" type="submit" value="Buscar">
</form>