---

---
<!--Parte del footer. Con las RRSS -->
<div class="socialMediaContainer">
    <h3>Redes sociales</h3>
    <div>
        <a href="http://instagram.com" target="_blank">
            <svg class="RRSS" width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 2C4.24 2 2 4.24 2 7V17C2 19.76 4.24 22 7 22H17C19.76 22 22 19.76 22 17V7C22 4.24 19.76 2 17 2H7ZM7 4H17C18.66 4 20 5.34 20 7V17C20 18.66 18.66 20 17 20H7C5.34 20 4 18.66 4 17V7C4 5.34 5.34 4 7 4ZM17.5 5.5C16.67 5.5 16 6.17 16 7C16 7.83 16.67 8.5 17.5 8.5C18.33 8.5 19 7.83 19 7C19 6.17 18.33 5.5 17.5 5.5ZM12 6C8.69 6 6 8.69 6 12C6 15.31 8.69 18 12 18C15.31 18 18 15.31 18 12C18 8.69 15.31 6 12 6ZM12 8C14.21 8 16 9.79 16 12C16 14.21 14.21 16 12 16C9.79 16 8 14.21 8 12C8 9.79 9.79 8 12 8Z" fill="white"/>
            </svg>
        </a>
        <a href="http://x.com" target="_blank">
            <svg class="RRSS" width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.5 3H21L13.5 10.5L22 21H15.5L10.5 14.5L4.5 21H1L9 13L1 3H7.5L12 9L17.5 3ZM16.4 19H18.3L6.5 4.9H4.6L16.4 19Z" fill="white"/>
            </svg>
        </a>
    </div>
</div>

